


.jumbotron {
  display: flex;
  color: none;
  background-image: url(../images/jumbotron.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(50vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;

}

.searchTitle{
  color: white;
  display: flex;
  align-content: searchBar;
  padding-bottom: 15px;
}

.searchBar {
  width: 300px;
  align-content: center;
  display: flex;
}

.hostTailgateLink {
  padding-top: 25px;
  color: white;
  font-size: 12px;
}

.game1 .game2 .game3 {
  pointer-events: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: center;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.cardText {
  padding: 24px;
  line-height: 11px;
  color: white;
  background-color: #1b253de7;
}

p {
  font-size: 11px;
}

.nearbyEventTitle {
  font-size: 36px;
  padding: 45px;
}

.container-fluid {
  height: 600px; 
  width: fit-content;
}

.iconmonstr-star-3 {
  color: white;
  padding-left: 10px;
}

.column {
  display: inline-block 

}

.bigCard {
  width: 400px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.card-text .card-title {
margin: 50px;
align-items: center;
}
